In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [102]:
result = pd.read_csv('result_CAMERA.csv')
result.head()

,Unnamed: 0,mz,mzmin,mzmax,rt,rtmin,rtmax,npeaks,X1,Filter_01.mzXML,...,Sample_3_3.mzXML,Sample_4_1.mzXML,Sample_4_2.mzXML,Sample_4_3.mzXML,Sample_5_1.mzXML,Sample_5_2.mzXML,Sample_5_3.mzXML,isotopes,adduct,pcgroup
0,1,80.025105,80.021111,80.049787,66.962585,60.763611,69.723999,34,26,1.985377e+06,...,2.549433e+06,9.425606e+05,1.275104e+06,5.246297e+04,3.778044e+05,2.334711e+06,1.844433e+06,NaN,[M+Na]+ 57.0325,156
1,2,81.017546,81.017490,81.017591,66.725952,61.166412,70.237854,36,36,2.299344e+07,...,1.145071e+07,4.506232e+06,5.898964e+06,7.796333e+06,4.082660e+06,9.782101e+06,1.010821e+07,NaN,NaN,156
2,3,81.045275,81.045213,81.070428,8.382844,2.581511,39.583630,64,30,9.452991e+05,...,3.132807e+06,1.200166e+06,4.941660e+06,1.260456e+06,1.056187e+06,9.543495e+05,2.396896e+06,NaN,NaN,3262
3,4,81.070211,81.033838,81.070354,445.544693,418.351501,446.324554,40,28,8.826248e+05,...,3.948975e+06,1.978841e+06,6.847747e+05,3.241769e+06,5.397383e+06,1.146643e+06,5.507006e+06,NaN,NaN,12
4,5,81.033907,81.032500,81.070209,278.781418,277.883911,311.960571,32,28,2.814078e+05,...,2.624762e+05,1.508501e+05,2.369215e+05,3.161576e+05,7.470728e+05,6.875941e+05,6.159486e+05,NaN,NaN,1918

In [3]:
result = result.dropna(subset=['adduct'])

In [5]:
result[result['adduct'] == '[M+H]+ 221.103']

,Unnamed: 0,mz,mzmin,mzmax,rt,rtmin,rtmax,npeaks,X1,Filter_01.mzXML,...,Sample_3_3.mzXML,Sample_4_1.mzXML,Sample_4_2.mzXML,Sample_4_3.mzXML,Sample_5_1.mzXML,Sample_5_2.mzXML,Sample_5_3.mzXML,isotopes,adduct,pcgroup
2846,2847,222.112337,222.070339,222.193406,474.382187,449.441284,489.515381,98,35,890648.676161,...,1.218119e+06,3.728809e+06,4.428320e+06,4.820115e+06,1.111640e+07,1.123014e+07,1.055760e+07,NaN,[M+H]+ 221.103,122

In [37]:
res = result['adduct'].str

In [18]:
result['adduct'][:5]

0                                   [M+Na]+ 57.0325
6          [M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208
12                                  [M+Na]+ 60.0692
27    [M+K]+ 44.0934 [M+Na]+ 60.0673 [M+H]+ 82.0504
28                                   [M+H]+ 82.0535
Name: adduct, dtype: object

In [31]:
x = '[M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208'

In [32]:
import re

In [48]:
r1 = re.findall('\[.*?\+ (.*)', x)[0]
r1

'136.125 [M+3H-NH3]3+ 257.208'

In [46]:
'[' in r1

True

In [51]:
r1

'136.125 [M+3H-NH3]3+ 257.208'

In [55]:
a = []

In [61]:
re.findall('(.*?) \[.*?\+ (.*)', r1)[0]

('136.125', '257.208')

In [17]:
re = result[['mz', 'Filter_1.mzXML', 'adduct']]
re.sort_values('Filter_1.mzXML', ascending=False)

,mz,Filter_1.mzXML,adduct
1828,180.065347,1.025866e+10,[M+H]+ 179.057
4342,286.200974,9.624930e+09,[M+2H]2+ 570.387
3864,266.117127,1.970739e+09,[M+H]+ 265.107
2792,220.063774,1.352866e+09,[M+H]+ 219.056
3674,257.149394,1.196685e+09,[M+H]+ 256.145
4240,282.119235,1.183156e+09,[M+H]+ 281.113
291,105.033733,1.150472e+09,[M+H-H20]+ 122.036
1009,146.060063,1.111696e+09,[M+Na+K]2+ 230.164
3049,230.157868,7.991119e+08,[M+H-C2H4]+ 257.171
3317,241.154540,7.562159e+08,[M+H-NH3]+ 257.171
2815,221.050000,7.061166e+08,[3M+H+K]2+ 134.038
4587,298.114344,6.855339e+08,[M+2H]2+ 594.214
1316,160.096711,6.078027e+08,[M+H]+ 159.087
7853,529.228906,5.165618e+08,[M+H]+ 528.218
3983,271.092163,4.978565e+08,[2M+K]+ 116.062
2727,217.118178,4.535256e+08,[M+H]+ 216.111
2521,208.063709,4.120440e+08,[M+Na+NaCOOH]+ 117.083
501,118.065271,4.033468e+08,[M+Na]+ 95.0732
2485,206.081125,4.014204e+08,[M+H-C2H4]+ 233.107
525,120.044578,3.966100e+08,[M+H]+ 119.037
3314,241.092922,3.733996e+08,[M+H]+ 240.084
7185,458.201681,3.538628e+08,[M+H+NH3]+ 440.166
3541,251.127554,3.254955e+08,[M+H]+ 250.123
703,130.049919,3.228092e+08,[M+K]+ 91.0945
3961,270.169754,3.127785e+08,[M+H-CH4]+ 285.199
2237,197.064584,2.697865e+08,[M+H-C6H8O6]+ 372.103
6003,373.112721,2.581907e+08,[M+H]+ 372.103
4590,298.114417,2.544174e+08,[M+H]+ 297.107
96,91.052805,2.535271e+08,[M+3H]3+ 270.131
4733,305.061710,2.445685e+08,[M+H-C6H10O4]+ 450.123
...,...,...,...
5125,323.965002,2.066112e+05,[M+K]+ 284.997
8570,740.097232,1.928783e+05,[M+K]+ 701.139
6150,382.978616,1.787712e+05,[M+Na]+ 359.992
1021,146.528211,1.627363e+05,[M+2H-C6H10O5]2+ 453.084
1637,172.977222,1.617988e+05,[M+Na]+ 149.985 [M+H-CH2]+ 185.977 [M+H-H20]+ ...
3089,232.012762,1.592103e+05,[M+H-CH4]+ 247.046
5308,332.560520,1.535240e+05,[3M+3K-H]2+ 183.078
1929,183.996180,1.470125e+05,[M+H]+ 182.99 [M+H]+ 182.99
766,133.565431,1.395041e+05,[M+Na]+ 110.578
3204,236.149184,1.282483e+05,[M+H]+ 235.139
5509,343.973898,1.091374e+05,[3M+Na+2K-H]2+ 196.008
7303,469.064564,7.703621e+04,[M+K+NaCOOH]+ 362.124 [M+Na+NaCOOH]+ 378.098 [...
27,83.060926,NaN,[M+K]+ 44.0934 [M+Na]+ 60.0673 [M+H]+ 82.0504
1151,153.498921,NaN,[M+K]+ 114.529
1159,153.997803,NaN,[M+H-CO2]+ 196.984
2741,217.995567,NaN,[M+2K]2+ 358.055
3007,228.557569,NaN,[M+2K]2+ 379.185
3863,266.006103,NaN,[2M+H]+ 132.507
4252,282.974925,NaN,[M+Na]+ 259.99 [M+Na]+ 259.99
4523,294.997152,NaN,[2M+H]+ 147.002
4757,305.967126,NaN,[2M+2K-H]+ 114.529
4965,316.051682,NaN,[M+K]+ 277.089
5765,359.000685,NaN,[M+H-H20]+ 376.005
5777,359.818331,NaN,[M+K]+ 320.855 [M+Na]+ 336.829 [M+H]+ 358.811
6497,405.823895,NaN,[M+K+HCOOH]+ 320.855 [M+Na+HCOOH]+ 336.829 [M+...
6770,425.135358,NaN,[M+K]+ 386.172
7189,458.107774,NaN,[M+H]+ 457.105
7546,493.023512,NaN,[M+K]+ 454.066 [M+Na]+ 470.035
8432,645.383942,NaN,[M+H+NH3]+ 627.357
8550,724.124944,NaN,[M+Na]+ 701.139

In [71]:
add = result['adduct']
add[:5]

0                                   [M+Na]+ 57.0325
6          [M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208
12                                  [M+Na]+ 60.0692
27    [M+K]+ 44.0934 [M+Na]+ 60.0673 [M+H]+ 82.0504
28                                   [M+H]+ 82.0535
Name: adduct, dtype: object

In [69]:
re.findall('\[.*\]', '[1][2][3]')

['[1][2][3]']

In [82]:
re.findall('\+ (.*)?', tar)

['44.0934 [M+Na]+ 60.0673 [M+H]+ 82.0504']

In [77]:
tar

'82.0504'

In [98]:
tar = '[M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208'

result = []
while '[' in tar:
    tar = re.findall('\+ (.*)?', tar)[0]
    mz = re.findall('(.*?) .*', tar)
    print(tar)
    print(mz)
    try:
        result.append(mz[0])
    except IndexError:
        pass
result.append(tar)
result

136.125 [M+3H-NH3]3+ 257.208
['136.125']
257.208
[]

['136.125', '257.208']

In [122]:
def get(tar):
    result = []
    while '[' in tar:
        tar = re.findall('\+ (.*)?', tar)[0]
        mz = re.findall('(.*?) .*', tar)
        try:
            result.append(mz[0])
        except IndexError:
            pass
    result.append(tar)
    return result

In [123]:
def find(x):
    x = x['adduct']
    return get(x)

In [121]:
get('[M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208')

['136.125', '257.208']

In [118]:
result.dropna(subset=['adduct'])['adduct'][:5]

0                                   [M+Na]+ 57.0325
6          [M+H-C4H8]+ 136.125 [M+3H-NH3]3+ 257.208
12                                  [M+Na]+ 60.0692
27    [M+K]+ 44.0934 [M+Na]+ 60.0673 [M+H]+ 82.0504
28                                   [M+H]+ 82.0535
Name: adduct, dtype: object

In [138]:
mzs = []
x = '123'
for x0 in x:
    mzs.append(x0)
    
mzs

['1', '2', '3']

In [139]:
mzs = []
x = '123'
[mzs.append(x0) for x0 in x]    
mzs

['1', '2', '3']

In [144]:
l = lambda x: [mzs.append(x0) for x0 in x]
l

In [146]:
mzs = []
l(x)
mzs

['1', '2', '3']

In [149]:
mzs = []
result.dropna(subset=['adduct']).apply(find, axis=1).apply(lambda x: [mzs.append(x0) for x0 in x])
mzs;

In [152]:
pd.Series(mzs).value_counts()

75.994     10
518.329     7
522.058     7
344.101     7
440.166     6
510.283     6
104.067     6
412.21      6
346.161     6
192.024     6
148.053     5
293.169     5
314.079     5
219.056     5
114.529     5
94.0871     5
257.171     5
268.186     5
103.064     5
414.204     4
436.135     4
78.9951     4
404.231     4
188.062     4
528.218     4
363.175     4
491.058     4
390.103     4
198.993     4
260.078     4
           ..
128.053     2
118.968     2
568.046     2
95.0732     2
365.101     2
468.199     2
240.101     2
304.098     2
313.192     2
442.211     2
403.153     2
283.005     2
261.205     2
429.048     2
442.184     2
333.152     2
239.028     2
206.624     2
336.038     2
300.168     2
127.08      2
484.251     2
608.378     2
243.185     2
136.035     2
566.221     2
203.081     2
335.151     2
628.141     2
372.267     2
Length: 691, dtype: int64